/* Style for Nav and H1 - Ben */
h1 {
  color: blue;
}
header {
  background-color: aquamarine;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  font-weight: bold;
  color: black;
}
nav {
  background-color: aquamarine;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: large;
  font-weight: bold;
  color: black;
  justify-content: space-between;
}
.homeBtn {
  margin-left: 250px;
}
.historyBtn {
  margin-right: 250px;
}
/* End of nav and h1 style - Ben */

/* Creating different styling for my recent search card - Taylor */
.recentSearches {
  text-align: center;
  padding: 50px;
  width: 400px;
  background-color: aquamarine;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.forecast {
  height: 200px;
  color: whitesmoke;
  background-color: blue;
  padding: 1rem;
}
.hotel-results {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 16px;
}

.hotel-info {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.hotel-list {
  display: flex;
  margin: 20px;
  height: 200px;
  width: 400px;
  color: whitesmoke;
  background-color: rebeccapurple;
  padding: 1rem;
}

.hotelRating {
  color: red;
}






















































.attraction-info {
  display: flex;
 flex-wrap: wrap;

justify-content: space-around;
margin-top: 25px;


}
#attrCard {
  border: 3px black solid;
  display: block;
  /* flex-wrap: wrap; */
  margin: 10px;
  background-color: aquamarine;
  font-weight: bold;
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
