/* Style for Nav and H1 - Ben */
body {
  background-color: #b9cdda;
  min-height: 100vh;
}
h1 {
  color: rgb(255, 255, 255);
}
header {
  background-color: #4f5d75;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: bold;
  color: #fbfff1;
  padding: 30px;
}

/* End of nav and h1 style - Ben */

/* Creating different styling for my recent search card - Taylor */

.input {
  width: 40%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.label {
  margin-left: 1rem;
  color: white;
}

.button {
  margin-left: 1rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.forecast {
  display: none;
  height: 200px;
  color: #fbfff1;
  background-color: #3066be;
  padding: 1rem;
  border: 3px black solid;
  margin: auto;
}

/* .weatherResults {
  display: none;
  height: 200px;
  color: #fbfff1;
  background-color: #3066be;
  padding: 1rem;
  border: 3px black solid;
} */

.hotel-results {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 16px;
}

.hotel-info {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.hotel-list {
  display: flex;
  margin: auto;
  margin-top: 1rem;
  height: 200px;
  width: 400px;
  color: #fbfff1;
  background-color: #3066be;
  padding: 1rem;
  border: 3px black solid;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.image {
  padding-right: .5rem;
}

.text {
  display: block;
  padding-left: .5rem;
}

#colorCard{
    background-color: #0094c6;
    color: #fbfff1;
    text-align: center;
    /*border: 3px solid black;*/
}

.attraction-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  

}

#attrCard {
  border: 3px black solid;
  display: block;
  /* flex-wrap: wrap; */
  margin: auto;
  background-color: #3066be;
  color: #fbfff1;
  font-weight: bold;
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.restaurant-list {
  margin: auto;
  height: 200px;
  width: 400px;
  color: #fbfff1;
  background-color: #3066be;
  padding: 1rem;
  border: black solid;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.restaurant-list a {
  color: #fbfff1;
}

.restaurant-info a:hover {
  color: black;
}

.restaurant-info {
  display: flex;
  flex-wrap: wrap;
}

.show {
  display: block;
}
