/* Style for Nav and H1 - Ben */
body {
  background-color: grey;
  min-height: 100vh;
}
h1 {
  color: rgb(255, 255, 255);
}
header {
  background-color: grey;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  font-weight: bold;
  color: black;
}

/* End of nav and h1 style - Ben */

/* Creating different styling for my recent search card - Taylor */

.input {
  width: 60%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.label {
  margin-left: 1rem;
  color: white;
}

.button {
  margin-left: 1rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.forecast {
  display: none;
  height: 200px;
  color: whitesmoke;
  background-color: blue;
  padding: 1rem;
}
.hotel-results {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 16px;
}

.hotel-info {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.hotel-list {
  display: flex;
  margin: 20px;
  height: 200px;
  width: 400px;
  color: whitesmoke;
  background-color: rebeccapurple;
  padding: 1rem;
}

.hotelRating {
  color: red;
}

.attraction-info {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  margin-top: 25px;
}
#attrCard {
  border: 3px black solid;
  display: block;
  /* flex-wrap: wrap; */
  margin: 10px;
  background-color: aquamarine;
  font-weight: bold;
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.restaurant-list {
  margin: 20px;
  height: 200px;
  width: 400px;
  color: whitesmoke;
  background-color: rebeccapurple;
  padding: 1rem;
  border: black solid;
}
.restaurant-info {
  display: flex;
  flex-wrap: wrap;
}

.show {
  display: block;
}
